@{
   ViewData["Title"] = "Countries"; 
}

<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">

<h3>@ViewData["Title"]</h3>

<div id="divStudentList"></div>


@section Scripts{
    <script type="text/javascript" src="~/js/rest-countries.js"></script>
}